= form_for :search, url: search_gifs_path, method: :post do |form|
  = form.search_field :q, id: 'search_gifs'
  = form.submit 'Search'

- if @gifs
  %p= "Gifs with tag(s): #{@tags}"
  %ul.gif-list
    - @gifs.each do |gif|
      %li{ id: "#{gif["id"]}" }
        .gif-content
          = image_tag(gif["images"]["fixed_height"]["url"])
        .gif-save-option
          = form_for :gif, url: gifs_path, method: :post, remote: true do |form|
            = form.hidden_field :gif_api_id, value: gif["id"]
            = form.hidden_field :tags, value: @tags
            = form.submit 'Save Gif'